@font-face {
    font-family: 'Source Serif Pro';
    src: url("../fonts/SourceSerifPro-Light.woff2"), url("../fonts/SourceSerifPro-Bold.woff");
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url("../fonts/SourceSerifPro-Regular.woff2"), url("../fonts/SourceSerifPro-Regular.woff");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url("../fonts/SourceSerifPro-Semibold.woff2"), url('SourceSerifPro-Semibold.woff');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url("../fonts/SourceSerifPro-Bold.woff2"), url("../fonts/SourceSerifPro-Bold.woff");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 20px;
    scroll-behavior: smooth;
}

body {
    font-family: $family-font, "Source Serif Pro", serif;
    text-align: center;
}

.background,
.footer {
    color: $text-color;
}

section,
footer {
    padding: 100px 0;
}

@media screen and (max-width: 1024px) {
    section,
    footer {
        padding: 80px 0;
    }
}

@media screen and (max-width: 768px) {
    section,
    footer {
        padding: 70px 0;
    }
}

.team,
.main {
    background-color: $background-color;
}

a {
    text-decoration: none;
    color: $text-color;
}