.header-container {
    display: flex;
    max-width: 1182px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 520px) {
    .header-container {
        flex-direction: column;
    }
}