.menu-card {
    @include menu-card-flex-container;
    &:not(:last-child) {
        margin-right: 48px;
    }
    &.menu-card--red::before {
        @include before-style("HOT!", #D33B3B);
    }
    &.menu-card--green::before {
        @include before-style("NEW!", #B3E151);
    }
    &.menu-card--yellow::before {
        @include before-style("HIT!", #E5A434);
    }
}

@media screen and (max-width: 1024px) {
    .menu-card {
        width: calc((100% - 2 * 92px) / 3);
        max-width: 253px;
        &:not(:last-child) {
            margin-right: 92px;
        }
        &.menu-card::before {
            width: 46px;
            height: 46px;
            line-height: 46px;
            font-size: .6rem;
            top: -25px;
            left: -25px;
        }
    }
}

@media screen and (max-width: 768px) {
    .menu-card {
        max-width: 720px;
        width: 100%;
        flex-direction: row;
        &:not(:last-child) {
            margin-right: 0;
            margin-bottom: 58px;
        }
        &.menu-card::before {
            width: 56px;
            height: 56px;
            line-height: 56px;
            font-size: .7rem;
            top: -28px;
            left: -28px;
        }
    }
}

@media screen and (max-width: 678px) {
    .menu-card {
        max-width: 300px;
        width: 100%;
        flex-direction: column;
        &:not(:last-child) {
            margin-right: 0;
            margin-bottom: 58px;
        }
        &.menu-card::before {
            width: 56px;
            height: 56px;
            line-height: 56px;
            font-size: .7rem;
            top: -28px;
            left: -28px;
        }
    }
}